---
import Card from "../components/Card.astro";
import Showcase from "../components/Showcase.astro";
import Layout from "../layouts/Layout.astro";

/* Get Blogs from Markdown Files in Folder src/blogs -> glob fn fetches local files into out static site */
const posts = await Astro.glob("../blogs/*.md");
---

<Layout title="Blog from API">
	<Showcase
		heading="Astro Blog"
		text="A simple blog built with Astro where each blog is stored in a Local Markdown File."
	/>
	<section class="page-content">
		<div class="container">
			{
				posts.map(post => (
					<Card>
						<h3>{post.frontmatter.title}</h3>
						<p>{post.frontmatter.excerpt}</p>
						<a href={`/${post.frontmatter.slug}`} class="btn">
							Read More
						</a>
					</Card>
				))
			}
		</div>
	</section>
</Layout>

<style>
	div p {
		overflow: hidden;
		text-overflow: ellipsis;
		-webkit-line-clamp: 2;
		display: -webkit-box;
		-webkit-box-orient: vertical;
	}
</style>
